body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#section1 {
    background-color: orange;
    margin: 200px, 100px;
    padding: 25px;
}

#want {
    padding: 20px;
    border: solid;
    border-width: 5px;
    border-radius: 20px;
    border-color: navy;
    background-color:#9EF01A;
    color: white;
}

